**temp.jl

# Mac finder files and hidden folders
.DS_Store
*/.DS_Store

# other
*.zip
*.key
*.idraw
/*.pdf
dev_debug_archive/*.pdf
dev_debug_archive/rotor_only/*.pdf
dev_debug_archive/dfdc_comp/*.pdf
dev_debug_archive/debug_coupling/*.pdf
dev_debug_archive/dfdc_partial/outputs/*.pdf
dev_debug_archive/dfdc_partial/outputs/*.png
dev_debug_archive/dfdc_partial/outputs/*.vtk
dev_debug_archive/*.png
test/manual_tests/*/*.pdf
test/manual_tests/*/*.png
test/figures/*.gif
/*.png

# julia
*.jl.cov
*.jl.*.cov
*.jl.mem

docs/build/
docs/site/
_*

Manifest.toml

# dfdc
/dev_debug_archive/*/fort*

# latex
**.bcf
**.idx
**.log
**.mst
**.nlo
**.out
