# Mac finder files and hidden folders
.DS_Store
*/.DS_Store

# other
*.zip
*.key
*.idraw
/*.pdf
examples/*.pdf
examples/rotor_only/*.pdf
examples/dfdc_comp/*.pdf
examples/debug_coupling/*.pdf
examples/*.png
test/manual_tests/*/*.pdf
test/manual_tests/*/*.png
/*.png

# julia
*.jl.cov
*.jl.*.cov
*.jl.mem

docs/build/
docs/site/
_*

Manifest.toml

